.html, body {
  margin: auto;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid black;
}

/* @media (min-width: 640px) {
  canvas {
  }
} */